* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: #185adb;
  color: #0a1931;
  text-align: center;
}
h1 {
  text-align: center;
  padding: 1rem;
}
ul {
  width: 80%;
  list-style: none;
  font-size: 3rem;
}
ul li {
  display: inline-flex;
}
ul li:last-child {
  float: right;
}
li.active {
  color: #ffc947;
}
.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  /* background-color: #2196f3; */
  padding: 10px;
  width: 450px;
  margin: 0 auto;
  margin-top: 4rem;
  color: #ffc947;
}
.grid-item {
  background-color: #0a1931;
  border: 2px solid #feddbe;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.resetBtn {
  width: 15rem;
  margin-top: 3rem;
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #333;
}
.fa-circle-o:before,
.fa-times:before {
  font-size: 6.5rem;
}
.banner {
  color: #ffc947;
  font-size: 3rem;
  background-color: rgba(24, 90, 219, 0.9);
  width: 50%;
  min-width: 470px;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: #ffc947 2px solid;
}

.hidden {
  visibility: hidden;
}
.hidden-block {
  display: none;
}
